/* Resetowanie domyślnych stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

head{
  background: linear-gradient(to bottom right, #d0ecbc, #3a6c27);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Zmiana czcionki na Roboto */
  font-size: 1em;
  line-height: 1.4;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #3b632e, #2f2f2f);
}

main {
  flex: 1;
}



h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0.5em 0;
  text-align: left;
  text-shadow: 0px 0.5px 1px #0c0101, 6px 6px 6px #aaa; /* Efekt 3D */
}


header {
  background: linear-gradient(to bottom right, #7f6f67, #5e4d4d);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


section {
  display: flex;

}

article{
  background: linear-gradient(to bottom right, #dbe1d7, #5d894c);
  color: #222; /* Kolor tekstu dla całej strony */
}

nav {
  flex: 1;
  padding: 20px;
  display: flex;
}

nav

nav>div {
  display: flex;
}

nav>div>div {
  padding: 10px;
  background-color: #cccccc;
}

.navbar-nav .nav-item .nav-link {
  display:inline-flex;
  padding: 10px 20px;
  margin: 5px;
  color: white;
  background: linear-gradient(to bottom right, #3b632e, #2f2f2f);
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #3b632e, #2f2f2f);
  transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #0b3a15;
  box-shadow: 0 2px #0f451d;
  transform: translateY(2px);
}

.navbar-nav .nav-item .nav-link:active {
  box-shadow: 0 0 #1e7e34;
  transform: translateY(4px);
}


article {
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

button{
  background: linear-gradient(to bottom right, #3b632e, #2f2f2f);
}



footer {
  background: linear-gradient(to bottom right, #7F6F67, #5E4D4D);
  text-align: center;
  color: white;
  height:100%;
}

@media (max-width: 1000px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* Styl dla zdjęć w galerii */
.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-gallery img {
  min-height: auto;
  width: auto; /* Szerokość dostosowana proporcjonalnie */
  object-fit: cover;
}


/* Ustawienie jednakowej szerokości dla obrazów */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 750px; /* Można dostosować do odpowiedniej szerokości */
  height: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    margin:  auto;
}

textarea {
  resize: vertical;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, textarea {
  margin-bottom: 0.5rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Walidacja formularza */
.is-invalid {
  border-color: #dc3545;
}

.is-invalid + .invalid-feedback {
  display: block;
}

